.homepage {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-image: url('/public/mandala_background.jpg'); 
  background-size: cover; 
  background-position: center;
  text-align: center;
  color: white; 
  padding-top: 20px;
}

h1 {
  font-size: 80px; 
  margin-bottom: 40px;
}

.navigation-buttons {
  display: flex;
  gap: 32px;
}

button {
  padding: 20px 40px;
  font-size: 24px;
  color: darkblue;
  background-color: lightblue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: mediumblue; 
}

@media screen and (max-width: 768px) {
  .homepage {
    padding-top: 10px;  
  }

  h1 {
    font-size: 60px;  
    margin-bottom: 30px; 
  }

  .navigation-buttons {
    gap: 16px;  
  }

  button {
    padding: 15px 30px;  
    font-size: 20px;  
  }
}

@media screen and (max-width: 480px) {
  .homepage {
    padding-top: 5px; 
  }

  h1 {
    font-size: 40px; 
    margin-bottom: 20px;  
  }

  .navigation-buttons {
    flex-direction: column;  
    gap: 16px;  
  }

  button {
    padding: 12px 24px;  
    font-size: 18px;  
  }
}